/* style the menu */
#monitoring-responseTimeGraph-menu {
	background-color: white;
	border-radius: 0 0 0 5px;
	display: none;
	margin-right: 1px;
	margin-top: 1px;
	padding: 3px 3px 0;
	position: absolute;
	right: 0;
	z-index: 1000;
}

#monitoring-responseTimeGraph:hover #monitoring-responseTimeGraph-menu {
	display: block;
}

#monitoring-responseTimeGraph-menu img {
	cursor: pointer;
}