.tl_header_table {
  width: 100%;
}

.tl_header_table td:nth-child(2n+1) {
  width: 1%;
}

#monitoring-responseTimeGraph {
  width: calc(100% - 18px - 18px);
  position: relative;
  padding: 2px 0;
  margin-left: 18px;
  margin-right: 18px;
}

#monitoring-responseTimeGraph-legend {
    margin-left: 18px;
    margin-right: 18px;
    width: calc(100% - 18px - 18px);
}

text {
  display: none;
  cursor: default;
}

circle:hover + text {
  display: block;
}